

.modern-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #efc3bc;
  overflow-x: hidden;
}

.modern-container::before {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; 
  pointer-events: none; 
  

  box-shadow: inset 0 0 150px 100px rgba(221, 125, 125, 0.6);
  

  opacity: 0.8;
}


.image-background-placeholder {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
  width: 90%;
  height: 90%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

.logo-image {
 
  opacity: 1;
 
  
 
  width: auto;
  max-width: 60%; 
  height: auto;
  object-fit: contain;
}


@media (max-width: 1024px) {
  .logo-image {
    max-width: 75%; 
  }
}

@media (max-width: 768px) {
  .image-background-placeholder {
    width: 95%
  }
  .logo-image {
    max-width: 85%; 
  }
}







.content-card {
  position: relative;
  z-index: 10;
  max-width: 600px;
  
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 4rem;
  border-radius: 40px;
 
 
  text-align: center;
}

.intro-title {
  font-size: 3rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

.intro-placeholder-box {
 
  padding: 2rem;
  border-radius: 20px;
 font-weight: 900;
  color: white;
  font-size: 1.1rem;
  line-height: 1.8;
}
